{% extends 'base.html.twig' %}  

{% block titile 'Editer un bien' %}

{% block body %}
  <div class="container mt-4">
  <h1> Editer un bien</h1>
    {{ include('admin/property/form.html.twig', { form: form, button: 'Editer' }) }}
  </div>
{% endblock %}